@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');

body
{
    background-color: #FDFEFE;
    font-family: 'Inconsolata', monospace;
}

p
{
    color: #566573;
}

a
{
    color: #566573;
}

section
{
    box-shadow: 5px 5px 5px #E5E7E9;
    border-radius: 5px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    
    padding: 5px 10px 5px 10px;
    
    background-color: #EAEDED;
}

ul
{
    color: #566573;
    text-align: justify;
}

footer
{
    position: absolute;
    bottom: 0px;
}

h1
{
    color: #273746; 
    text-align: center;
    font-size: 50px;
}

h2
{
    color: #2C3E50;
}

h3
{
    color: #5D6D7E;
}

.centre
{
    text-align: center;
}

.date
{
    text-align: right;
    color: #D0D3D4;
    margin-bottom: 0px;
}

.date:hover
{
    color: #909497;
}

nav
{
    margin-left: 10%;
    margin-right: 10%;
}

nav ul
{
    display: none;
}

nav:hover ul {
    display: block;
}

nav:hover ul ul{
    display: none;
}

nav ul:hover ul{
    display: block;
}

nav ul:hover ul ul {
    display: none;
}

nav ul ul:hover ul {
    display: block;
}